<div class="panel panel-default bootcards-summary">
	
				<div class="panel-heading">
					<h3 class="panel-title">Dashboard</h3>
				</div>
	
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<a class="bootcards-summary-item" href="/nodes" data-pjax="#main" data-title="Nodes" style="padding-top:35px;">
								<i class="fa fa-3x fa-building-o"></i>
								<h4>
									Nodes
									<span class="label label-info">{{ nodes.count }}</span>
								</h4>
							</a>
						</div>
						<div class="col-xs-6 col-sm-4">
							<a class="bootcards-summary-item" href="/companies" data-pjax="#main" data-title="Services" style="padding-top:35px;">
								<i class="fa fa-3x fa-database"></i>
								<h4>
									Services
									<span class="label label-info">?</span> 
								</h4>
							</a>
						</div>
						<div class="col-xs-6 col-sm-4">
							<a class="bootcards-summary-item" href="/notes" data-pjax="#main" data-title="Images" style="padding-top:35px;">
								<i class="fa fa-3x fa-picture-o"></i>
								<h4>
									Images
									<span class="label label-info">?</span>
								</h4>
							</a>
						</div>
					</div>
				</div>
	
				<div class="panel-footer">
				</div>	
			</div>